<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    
  </head>
  <body>
    {# <div class="min-h-screen"> #}
    {% include "partials/navbar.html" %}
    {{ content | safe }}
    {# </div> #}
    {% include "partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script src="/static/js/app.js"></script>

    {% if path == "home" %}{# this is left over but why only on the homepage??? #}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>