---
layout: layouts/default
---

<div class="container px-4 pt-14 sm:pt-0">
	{% if hero.src %}
		<section id="hero" class="mb-12 hidden sm:block">
			<a href="{{ hero.url|default('/xandbox#request-access') }}"><img src="{{ hero.src }}" class="w-full" /></a>
		</section>
		<section id="hero-mob" class="mb-4 sm:hidden">
			<a href="{{ hero.url|default('/xandbox#request-access') }}"><img src="{{ hero.src_mob }}" class="w-full" /></a>
		</section>
	{% endif %}


	{% if content %}
		<div class="mb-8 {{classes|default('')}}">{{ content | safe }}</div>
	{% endif %}
</div>
