---
layout: layouts/default
---
<div class="relative container pt-24 sm:pt-2 sm:px-4">

	{# SUB NAV CHANNEL #}
	{% if not hideChannel %}
	{% include "partials/subnav.html" %}
	{% endif %}
	{# /SUB NAV CHANNEL #}

	<div class="{% if not hideChannel %}sm:pl-48{% endif %}">
		<div class="relative px-4 sm:px-0">

			{# CONTENT CHANNEL #}
			<a name="introduction"></a>
			<div
				class="content flex w-full mt-4 {% if hero %}{% else %}sm:border sm:border-b-0 sm:border-x-0 sm:border-t-1 sm:border-black{% endif %} pt-4 pb-6">
				<div class="-mt-2 h-6"></div>


				<div class="w-full sm:px-0">
					<section class="w-full relative pb-12 pt-2 px-2">

						{% if hero.src %}
						<section id="hero" class="mb-12 -mt-16 sm:-mt-4">
							<a href="{{ hero.url }}"><img src="{{ hero.src }}" alt="" class="w-full" /></a>
						</section>
						{% endif %}

						{% if video %}
						<section id="video" class="{{classes|default('')}} py-8">
							<hr />
							<div class="flex flex-col-reverse py-4 sm:flex-row sm:space-x-8 ">
								<div class="sm:w-1/2">
									<h5>{{ video.header }}</h5>
									<p>{{ video.body }}</p>
									{% if video.list %}
									<ul class="">
										{% for item in video.list %}
										<li>{{ item }}</li>
										{% endfor %}
									</ul>
									{% endif %}
								</div>
								<div class="sm:w-1/2">
									{% if video.image.url %}<a href="{{video.image.url}}">{% endif %}
										<img src="{{ video.image.src }}" class="w-full pb-6 sm:pb-0" />
										{% if video.image.url %}</a>{% endif %}
								</div>
							</div>
							<hr />
						</section>
						{% endif %}

						{% if content %}
						<div class="mb-4">{{ content | safe }}</div>
						{% endif %}

						{% if anchorlinks %}
						<section id="/Introduction" class="{{classes|default('')}}">
							<div class="sm:flex sm:flex-row sm:justify-between sm:space-x-8 py-8">
								{% set cardClasses = 'sm:w-1/2' %}
								{% for link in anchorlinks %}
								{% include "partials/card.html" %}
								{% endfor %}
							</div>
						</section>
						{% endif %}

						{% if anchorbuttons %}
						<section class="{{classes|default('')}}">
							<h3 class="font-bold">{{ header }}</h3>
							<p>{{ body }}</p>
							{% if anchorlinks %}
							<div class="w-full sm:flex sm:flex-row sm:space-x-8 py-8">
								{% for link in anchorlinks %}
								<div class="border border-salmon p-6 mb-4 sm:mb-0">
									<img src="{{ link.icon }}" class="mb-4" />
									<a href="{{ link.url }}" class="font-bold text-lg">{{ link.title }}</a>
									<p>{{ link.description }}</p>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</section>
						{% endif %}
					</section>
				</div>
			</div>
			{# /CONTENT CHANNEL #}
		</div>
	</div>
</div>