/**
* prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
* Based on https://github.com/chriskempson/tomorrow-theme
* @author Rose Pritchard
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #fff;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
	.prism-light {
		color: #000;
	}
}

code[class*="language-"].prism-light {
	color: #000;
	background-color: #fff;
}

code[class*="language-"].break-line{
		word-break: break-all;
		word-wrap: break-word;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #0C2026;
	padding-right: 1rem;
}

:not(pre) > code[class*="language-"] .prism-light,
pre[class*="language-"].prism-light {
	background-color: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}


pre[class*=language-].line-numbers {
	position:relative;
	padding-left:3.8em;
	counter-reset:linenumber
}
pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}

/* TOOLBAR */
div.code-toolbar {
	position:relative
}
div.code-toolbar>.toolbar {
	position:absolute;
	z-index:10;
	top:.5rem;
	right:1.75rem;
	transition:opacity .3s ease-in-out;
	opacity:.25;
}
div.code-toolbar:hover>.toolbar {
	opacity:1
}
div.code-toolbar:focus-within>.toolbar {
	opacity:1
}
div.code-toolbar>.toolbar>.toolbar-item {
	display:inline-block
}
div.code-toolbar>.toolbar>.toolbar-item>a { 
	cursor:pointer
}
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar.prism-light>.toolbar>.toolbar-item>button {
	/* background:0 0; */
	background-image: url(/static/img/ui-copy.svg);
	background-repeat: no-repeat;
	background-size: contain;
	height:25px;
	width: 25px;
	border:0;
	color:inherit;
	font:inherit;
	line-height:normal;
	overflow:visible;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
div.code-toolbar.prism-light>.toolbar>.toolbar-item>button {
	background-image: url(/static/img/ui-copy-dark.svg);
}
div.code-toolbar>.toolbar>.toolbar-item>button>span {
	display:none;
}
div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
	color:#bbb;
	font-size:.8em;
	padding:0 .5em;
}
div.code-toolbar>.toolbar>.toolbar-item>a:focus,
div.code-toolbar>.toolbar>.toolbar-item>a:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus,
div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>span:focus,
div.code-toolbar>.toolbar>.toolbar-item>span:hover {
	color:inherit;text-decoration:none
}

/* scrollbars */

/* width */
pre[class*=language-]::-webkit-scrollbar {
	width: 10px;
	margin-right: 4px;
}

/* button */
pre[class*=language-]::-webkit-scrollbar-button {
	background: #0C2026; 
}

/* Handle */
pre[class*=language-]::-webkit-scrollbar-thumb {
	background: #61868F;
	border-radius: 3px;
}

/* Handle on hover */
pre[class*=language-]::-webkit-scrollbar-thumb:hover {
	background: #61868F; 
}

/* Track */
pre[class*=language-]::-webkit-scrollbar-track {
	background: #0C2026; 
}
pre[class*=language-].prism-light::-webkit-scrollbar-button,
pre[class*=language-].prism-light::-webkit-scrollbar-track {
	background: #fff;
}

/* The track NOT covered by the handle.
pre::-webkit-scrollbar-track-piece {
	background: #000; 
}

/* Corner */
pre[class*=language-]::-webkit-scrollbar-corner {
	background: #999; 
}

/* Resizer */
pre[class*=language-]::-webkit-resizer {
	background: #111; 
}

.code-toolbar {
	@apply mb-8;
}

pre[class*=language-] {
	@apply max-h-48 overflow-y-scroll;
}
