/*Your Custom CSS Goes here*/
html {
	scroll-behavior: smooth;
}

[x-cloak] {
	@apply hidden;
}

*::selection { 
	color: $whiteish;
	background-color: $slate; 
}

.selection-slate *::selection {
	color: $whiteish;
	background-color: $slate;
}

body {
	font-family: $plex;
	@apply bg-whiteish text-slate-dark;
	scroll-behavior: smooth;
}

.content {
	a {
		&:not(.anchor-link) {
			color: $miami;

			&:visited {
				color: darken($miami, 20%)
			}
	
			&:hover {
				color: lighten($miami, 10%)
			}
	
			&:active {
				color: lighten($miami, 20%)
			}
		}
	}

	blockquote {
		border-radius: .5rem;
		@apply py-4 px-4 mb-4;
		background-color:lighten($tan, 30%);

		> p {
			margin-bottom: 0;
		}
	}

	p {
		@apply mb-4;
	}

	h3 {
		@apply font-bold text-2xl mb-4;
	}
	
	h4 {
		@apply font-sans font-bold text-lg mb-2;
	}

	h5 {
		@apply font-bold text-lg mb-1;
	}
	
	hr {
		@apply my-8 bg-slate bg-opacity-20;
		
		height: 2px;
	}
	
	ul {
		@apply mb-4 ml-4 space-y-2;
	}
	
	li {
		@apply list-disc list-outside ml-4;
	}
}


button:focus {outline:0;}

.narrow {
	@apply sm:px-40;
}

.button {
	@apply relative flex border bg-salmon border-salmon text-white cursor-pointer mx-0 whitespace-nowrap w-full no-underline text-lg font-sans font-medium;

	padding: 13px 40px 11px 16px;
	@screen sm {
		min-width: 220px;
		@apply w-56;
	}
	/* @include fluid-type(260px, $max_width, 18px, 22px);	 */
	/* @screen sm {
		@include fluid-type(1000px, $max_width, 24px, 33px);	
	} */

	&:before {
		content: '';
		@apply block absolute top-0 right-1 w-full bg-no-repeat transition transform duration-300 ease-in-out sm:right-4;
		height: 54px;
		background-position: right center;
		background-image:url('/static/img/brand-arrow.svg');
		transform: translateX(0);
		@screen sm {
			background-position: right 0.25rem center;
		}
	}
	&.access-form-submit {
		cursor: pointer;

		&:before {
			content: '';
			@apply block absolute top-0 right-1 w-full bg-no-repeat transition transform duration-300 ease-in-out sm:right-4;
			height: 32px;
			background-position: right center;
			background-image:url('/static/img/brand-arrow.svg');
			transform: translateX(0);
			@screen sm {
				background-position: right 0.25rem center;
			}
		}
	}

	&:hover:before {
		transform: translateX(0.25rem);
	}

	&--overrides {
		border-radius: 0!important;
		margin-left: 0!important;
	}
	
	&--secondary {
		@apply bg-transparent text-salmon fill-salmon;
		&:before {
			background-image:url('/static/img/brand-arrow-secondary.svg');
		}
		&:hover {
			@apply bg-salmon text-white;
		}
		&:hover:before {
			background-image:url('/static/img/brand-arrow.svg');
		}
	}

	&--back {
		@apply pl-20 pr-8 py-4 mt-4 bg-salmon;
		&:before {
			content: '';
			@apply block absolute top-0 left-2 w-full bg-no-repeat transition transform duration-300 ease-in-out sm:left-4 sm:h-20;
			/* min-height: 64px; */
			
			background-position: left center;
			background-image:url('/static/img/brand-arrow-flip.svg');
			transform: translateX(0);
			@screen sm {
				background-position: left 0.5rem center;
			}
		}
		&:hover:before {
			transform: translateX(-0.5rem);
		}	
	}

	&--small {
		@apply bg-transparent text-salmon fill-salmon w-auto text-sm;
		padding: 10px 0 10px 8px;
		@screen sm {
			min-width: 155px;
			width: 155px;
		}
		&:before {
			background-image:url('/static/img/brand-arrow-secondary.svg');
			height: 42px;
			@screen sm {
				@apply sm:right-1;
				background-position: right 4px center;
			}
		}
		&:hover {
			@apply bg-salmon text-white;
		}
		&:hover:before {
			background-image:url('/static/img/brand-arrow.svg');
			transform: translateX(4px);
		}
	}
}

/* nav */
.nav {
	&-t1 {
		@apply cursor-pointer w-full flex flex-row flex-wrap justify-start no-underline mb-px py-3 font-bold duration-150 ease-in-expo font-sans text-lg;
		@apply sm:font-normal sm:justify-between sm:flex-col sm:align-middle sm:pt-0 sm:pb-1;
		
		//animate
		@apply transition delay-100 duration-700 ease-out-expo origin-left;
		&::after {
			@apply w-full h-0.5 left-0 z-20 sm:bg-salmon transition delay-100 duration-700 ease-out-expo origin-left opacity-0 scale-x-0;
			content: ' ';
		}
		&:hover {
			@apply opacity-100;
			&::after {
				@apply opacity-100 scale-x-100;
			}
		}

		@screen sm {
			font-size: 15px;
		}

		&-container {
			@apply text-lg text-slate px-3 sm:pl-8 sm:pr-0 relative ease-in-expo;
		}

		&-active {
			&::after {
				@apply w-full h-0.5 left-0 z-20 sm:bg-salmon opacity-100 scale-x-100;
				content: ' ';
			}
		}

		&-last {
			@apply border-whiteish;
		}

	}

	&-t2 {
		@apply relative block py-1 pl-4 pr-6 w-full no-underline whitespace-nowrap hover:bg-slate-200;

		&::before {
			content: ' ';
			@apply absolute left-0;
			
			@screen sm {
				content: '';
				@apply relative;
			}
		}

		&-container {
			@apply block font-normal sm:absolute sm:top-0 sm:left-3 py-2 bg-white mt-2 sm:mt-[30px] z-40 w-full pl-0 sm:pl-0 sm:w-auto sm:border-slate-200 sm:border;
		}
		
	}

	&-logo {
		display: inline-block;
		width: 124px;
		@screen sm {
			width: 144px;
		}
	}
}

/* FORMS */
.field {
	@apply block w-full px-4 py-2 mt-1 mb-4 border bg-white border-slate-700 outline-slate focus:outline-none focus:bg-slate-200 focus:border-slate-700;
}

/* cards */
.card {
	@apply cursor-pointer transition duration-150 ease-in-expo border border-salmon p-6 mb-4 stroke-salmon;
	@apply sm:mb-0;
	
	&:hover {
		@apply bg-salmon text-white stroke-white;
	}
}



// .navUnderline {
// 	@apply block relative px-1 pb-2 text-slate font-medium transform origin-left;
// 	font-size: 17px;
// 	@include underline($salmon, $whiteish);
// 	display:inline-block;
// 	@apply border-b-4 border-whiteish;
// 	&.active {
// 		@apply border-b-4 border-salmon;
// 	}
// }