$maxwidth: 1672px;

$black: #000;
$gold: #4B401F;
$tan: #968041;
$slate: #0C2026;
$salmon: #EC4625;
$ltgray: #E5EAED;
$whiteish: #F3F4F4;
$miami: #5A5AE5;
$vice: #55F1A6;

/* set fonts */
$telegraf: 'Telegraf', 'Helvetica Neue', Helvetica, Arial, sans;
$plex: 'IBMPlexSans', 'Helvetica Neue', Helvetica, Arial, sans;

/* default font size variables */
$min_width: 600px;
$max_width: 1910px;
$min_font: 14px;
$max_font: 22px;