
	@font-face {
		font-family: "Telegraf";
		font-style: normal;
  		font-weight: 400;
		src: url("/static/fonts/Telegraf-Regular.woff2") format("woff2"),
				url("/static/fonts/Telegraf-Regular.woff") format("woff");
	}
	@font-face {
		font-family: "Telegraf";
		font-style: bold;
  		font-weight: 700;
		src: url("/static/fonts/Telegraf-Bold.woff2") format("woff2"),
				url("/static/fonts/Telegraf-Bold.woff") format("woff");
	}
	@font-face {
		font-family: "Telegraf";
		font-style: medium;
  		font-weight: 600;
		src: url("/static/fonts/Telegraf-Medium.woff2") format("woff2"),
				url("/static/fonts/Telegraf-Medium.woff") format("woff");
	}
	@font-face {
		font-family: "Telegraf";
		font-style: light;
  		font-weight: 200;
		src: url("/static/fonts/Telegraf-Light.woff2") format("woff2"),
				url("/static/fonts/Telegraf-Light.woff") format("woff");
	}
	@font-face {
		font-family: "IBMPlexSans";
		font-style: normal;
  		font-weight: 400;
		src: url("/static/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
				url("/static/fonts/IBMPlexSans-Regular.woff") format("woff");
	}
	@font-face {
		font-family: "IBMPlexSansBold";
		font-style: bold;
  		font-weight: 700;
		src: url("/static/fonts/IBMPlexSans-Bold.woff2") format("woff2"),
				url("/static/fonts/IBMPlexSans-Bold.woff") format("woff");
	}
	@font-face {
		font-family: "IBMPlexSans";
		font-style: medium;
  		font-weight: 600;
		src: url("/static/fonts/IBMPlexSans-Medium.woff2") format("woff2"),
				url("/static/fonts/IBMPlexSans-Medium.woff") format("woff");
	}
	@font-face {
		font-family: "IBMPlexSans";
		font-style: light;
  		font-weight: 200;
		src: url("/static/fonts/IBMPlexSans-Light.woff2") format("woff2"),
				url("/static/fonts/IBMPlexSans-Light.woff") format("woff");
	}



	header{
		font-family: $telegraf;
	}

	h1, h2, h3, h4, h5{
		font-family: $telegraf;
	}

	/* todo: not sure if these base H definitions are working */
	h1 {
	  @apply text-5xl mb-4;
	}
	h2 {
	  @apply text-4xl;
	}
	h3 {
	  @apply text-3xl;
	}
	h4 {
	  @apply text-2xl;
	}
	h5 {
	  @apply text-xl;
	}


/* html {
	@include fluid-type($min_width, $max_width, 14px, 16px);
} */

/* h1 */
/* .text-5xl, .text-6xl, .text-7xl {
	@include fluid-type($min_width, $max_width, 38px, 96px);
	line-height: 1;
} */
/* h2 */
/* .text-4xl {
	@apply font-sans font-semibold;
	@include fluid-type($min_width, $max_width, 32px, 64px);
	line-height: 1.2;
} */
/* h3 */
/* .text-3xl {
	@include fluid-type($min_width, $max_width, 20px, 36px);
	line-height: 1.3;
} */
/* h4 */
/* .text-2xl {
	@include fluid-type($min_width, $max_width, 16px, 24px);
	line-height: 1.5;
} */
/* h5 */
/* .text-xl {
	@include fluid-type($min_width, $max_width, 14px, 18px);
	line-height: 1.5;
} */
/* p.large */
/* .text-lg {
	@include fluid-type($min_width, $max_width, 18px, 32px);
	line-height: 1.5;
} */
/* p, p.medium */
/* .text-base, .text-md {
	@include fluid-type($min_width, $max_width, 16px, 24px);
	line-height: 1.5;
} */
/* p.small */
/* .text-sm {
	@include fluid-type($min_width, $max_width, 16px, 18px);
	line-height: 1.5;
} */
/* p.extra-small */
/* .text-xs {
	@include fluid-type($min_width, $max_width, 10px, 12px);
	line-height: 1.5;
} */