---
layout: layouts/layout-home
title: Xand Developer Portal and Resources
hero: 
  src: "/static/img/hero-home.svg"
  src_mob: "/static/img/hero-home-mob.svg"
  url: "https://transparent.us/xand-networks/xand-alpha/"
path: home
---



  <div class="grid sm:grid-cols-2 gap-4 sm:gap-12 mt-8">
    <div class="col-span-1 flex flex-col justify-between">
      <b class="uppercase font-bold pb-3 block w-full border-b-2 border-slate-lighter">Build</b>
      <div class="flex space-x-4 lg:space-x-12" style="justify-content:center"> <!-- Temporary centering; Remove style when second item is added here. -->
        <div class="w-1/2 flex flex-col justify-between">
          <div>
            <img src="/static/img/icon-deploy.svg" class="mx-auto my-8 h-16 sm:h-32" />
            <p>Spin up a Xand node in a cloud of your choice, then join a network or start a new one </p>
          </div>
          <a href="/build/implement" class="button button--secondary mt-6">Implement</a>
        </div>
      </div>
    </div>
    <div class="col-span-1 flex flex-col justify-between">
      <b class="uppercase font-bold pb-3 block w-full border-b-2 border-slate-lighter">Learn</b>
      <div class="flex space-x-4 lg:space-x-12">
        <div class="w-1/2 flex flex-col justify-between">
          <div>
            <img src="/static/img/icon-how-works.svg" class="mx-auto my-8 h-16 sm:h-32" />
            <p>Built with Rust, Xand enables fast and accurate transactions through your Bank API of choice.</p>
          </div>
          <a href="/what-xand-is" class="button button--secondary mt-6">What Xand Is</a>
        </div>
        <div class="w-1/2 flex flex-col justify-between">
          <div>
            <img src="/static/img/icon-implement.svg" class="mx-auto my-8 h-16 sm:h-32" />
            <p>Use Xand’s Member API to transact and govern your Xand node.</p>
          </div>
          <a href="/api" class="button button--secondary mt-6">API</a>
        </div>
          
        
      </div>
    </div>
  </div>
