<div class="card {{cardClasses}}"
	x-data="{}"
	@click="location.href = '{{link.url}}'"
	>
	<div class="mb-4">
		{% include link.icon|replace('/src/_includes/', '') %}
		{# <img src="{{link.icon}}" class="stroke-salmon" /> #}
		{# {{ link.icon|svgContents }} #}
	</div>
	<a href="{{ link.url }}" class="font-sans font-bold text-lg anchor-link">{{ link.title }}</a>
	<p>{{ link.description }}</p>
</div>