<footer class="relative mt-20 sm:mt-32">
    <div class="sm:absolute w-full sm:top-0 bg-ltgray">
        <div class="container px-4 pb-6 sm:pb-0 mx-auto">
            {# {% if page.url != '/' %} #}
                <div class="flex flex-col-reverse pt-6 sm:flex-row sm:justify-between sm:pt-12">
                    <div class="flex sm:justify-between text-xs text-slate">
                        <div class="w-1/2 sm:w-auto sm:flex sm:px-9 sm:space-x-16">
                            <div class="space-y-3 sm:space-y-2 sm:py-6">
                                <b class="block uppercase text-sm">Development</b>
                                <a href="/build/implement" class="block">Implement</a>
                                <a href="/api" class="block">API</a>
                                <a href="/xandbox" class="block">Xandbox</a>
                                <a target="_blank" href="https://transparent.us/xand-networks/xand-alpha/" class="block">Join a Network</a>
                            </div>
                            <div class="space-y-3 sm:space-y-2 pt-4 sm:py-6">
                                <b class="block uppercase text-sm">Support</b>
                                <a href="mailto:support@transparent.us?subject=Xand%20Developer%20Support" class="block">Technical Support</a>
                            </div>
                        </div>
                        <div class="w-1/2 sm:w-auto sm:flex sm:px-9 sm:space-x-16">
                            <div class="space-y-3 sm:space-y-2 sm:py-6">
                                <b class="block uppercase text-sm">Transparent Financial Systems</b>
                                <a href="https://transparent.us" class="block">Transparent Home</a>
                                <a href="/" class="block">Developer Portal Home</a>
                                <a href="https://transparent.us/press-blog" class="block">Press &amp; Blog</a>
                                <a href="https://transparent.us/careers" class="block">Careers</a>
                                <a href="https://transparent.us/company" class="block">About Us</a>
                            </div>
                            <div class="space-y-3 sm:space-y-2 sm:py-6">
                                <b class="block uppercase text-sm">Other Links</b>
                                <a href="https://transparent.us/privacy-policy/" class="block">Privacy Policy</a>
                                <a href="https://transparent.us/terms-of-service/" class="block">Terms of Service</a>
                                <a href="mailto:info@transparent.us?subject=Xand%20Developer%20Portal" class="block">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto sm:space-y-6 mb-8 sm:mb-0 flex flex-row w-full sm:w-auto sm:flex-col justify-between">
                        
                            <a href="https://transparent.us" class="block mt-0 sm:mt-2 sm:float-right">
                                <img src="/static/img/logo-transparent.svg" class="block w-32 float-right" />
                            </a>
                            <div>
                                <div class="w-11 flex space-x-2 clear-both sm:float-right">
                                    <a href="https://twitter.com/TPFinSys" target="_blank" class="block"><img src="/static/img/social-twitter.svg" /></a>
                                    <a href="https://www.linkedin.com/company/transparent-systems" target="_blank" class="block"><img src="/static/img/social-linkedin.svg" /></a>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <div class="clear-both sm:float-right text-xs my-4 opacity-70 mb-8">Transparent Finacial Systems, Inc. Copyright 2022</div>
            {# {% endif %} #}
        </div>
    </div>
</footer>
