<script>
function navbarComp() {
    return {
        navShow: window.innerWidth > 768,
        subnavShow: false,
        menuShow: 'none',
        breakpoint: 768,
        width: window.innerWidth
    }
}
</script>
<div class="w-full container">
    <nav x-data="navbarComp()"
        x-on:subnavstate.window="subnavShow = !subnavShow"
        class="fixed w-full container px-4 mx-auto flex justify-between items-center py-3 z-40 sm:relative sm:py-6 sm:bg-whiteish"
        :class="{'bg-whiteish': !navShow && !subnavShow, 'bg-none': !navShow && subnavShow }"
        @scroll.window.debounce.100="if (window.innerWidth <= 768) navShow = false"
        @resize.window.debounce.100="width = window.innerWidth; navShow = width > breakpoint"
        >
        
            <!--Xand Logo-->
            <div class="sm:w-64">
                <a href="/" class="inline-block sm:block">
                    <img src="/static/img/logo-xand.svg" width="100%" alt="Xand" class="nav-logo" />
                </a>
                <span class="float-right font-sans sm:float-none pt-2 text-xs pl-3 sm:pl-0 sm:text-sm !leading-3">Developer Portal&nbsp;<br class="sm:hidden" />&amp; Resources</span>
            </div>

            <!--Toggle button (hidden on large screens)-->
            <button @click="navShow = !navShow"
                type="button"
                class="hamburger fixed right-4 block sm:hidden focus:outline-none duration-100 ease-in-expo z-50"
                {# :class="{ 'transition transform-180': navShow }" #}
                aria-label="Menu">
                <div class="hamburger--buns relative w-[22px] h-[17px] flex flex-col justify-between mx-auto">
                    <span class="block absolute top-0 w-full h-[3px] bg-slate transition transform duration-300 ease-in-expo origin-top-left"
                        :class="{'rotate-45 scale-x-110': navShow}"></span>
                    <span class="block absolute top-2 w-full h-[3px] bg-slate transition transform duration-300 ease-in-expo"
                        :class="{'opacity-0': navShow}"></span>
                    <span class="block absolute top-4 w-full h-[3px] bg-slate transition transform duration-300 ease-in-expo origin-bottom-left"
                        :class="{'-rotate-45 scale-x-110': navShow}"></span>
                </div>
            </button>

            <!--Menu-->
            <div class="fixed top-0 right-0 w-full min-h-screen bg-slate bg-opacity-[12%] flex flex-row justify-end sm:relative sm:bg-whiteish sm:min-h-0 sm:h-auto sm:items-end sm:space-x-4 sm:bg-opacity-100 z-40"
                x-show="navShow"
                >
                <div class="relative pb-1 h-auto w-full ml-36 sm:ml-0 sm:pb-0 sm:pr-8 transition transform duration-750 ease-in-expo"
                    x-show="navShow"
                    x-transition:enter=""
                    x-transition:enter-start=""
                    x-transition:enter-end="translate-x-0"
                    x-transition:leave=""
                    x-transition:leave-start=""
                    x-transition:leave-end="-translate-x-3/4"
                    >
                    <div class="bg-white w-full sm:bg-whiteish shadow-md sm:shadow-none px-3 pt-12 pb-3 min-w-full h-auto sm:p-0 sm:ml-0  sm:flex sm:justify-end">
                        {% if navigation.items %}
                            {% for item in navigation.items %}
                                {% set slug = item.text|slug|replace('-','_') %}
                                    {% set u = item.url %}
                                <div class="nav-t1-container">
                                    <div 
                                        {% if item.children and not item.hideChildren %}
                                            @click="if (width <= breakpoint) { menuShow = '{{ slug }}' } else { location.href = '{{u}}' }"
                                            @mouseover="if (width > breakpoint) menuShow = '{{ slug }}'"
                                        {% else %}
                                            @click.prevent="location.href = '{{u}}'"
                                        {% endif %}
                                        class="nav-t1 {% if loop.last %} nav-t1-last {% endif %}"
                                        :class="{'nav-t1-active': this.menuShow == '{{ slug }}', 'nav-t1-active': {% if u in page.url %}true{% else %}false{% endif %}}"
                                        href="{{ u }}"
                                        data-text="{{item.text}}"
                                        {% if item.target %} target="_blank" {% endif %}
                                        >
                                        {{ item.text }}
                                        {% if item.children and not item.hideChildren %}
                                        <img src="/static/img/nav-expand.svg" width="13"
                                            class="block ml-auto justify-self-end sm:hidden" 
                                            :class="{'rotate-180': menuShow == '{{ slug }}'}"
                                            />
                                        
                                            <div class="nav-t2-container hidden"
                                                @mouseover.away="if (width > breakpoint) menuShow = ''"
                                                x-show="menuShow == '{{ slug }}'" 
                                                x-transition:enter="transition transform origin-top"
                                                x-transition:enter-start="opacity-0"
                                                x-transition:enter-end="opacity-100"
                                                x-transition:leave="transition transform origin-top"
                                                x-transition:leave-start="opacity-100"
                                                x-transition:leave-end="opacity-0"
                                                x-cloak >
                                                {% for child in item.children %}
                                                    <a class="nav-t2" href="{{ child.url }}">{{ child.text }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        </div>
                                    
                                </div>
                            {% endfor %}
                        {% endif %}

                        <a href="https://transparent.us" class="block p-4">
                            <img src="/static/img/logo-transparent.svg" class="sm:hidden block w-[105px]" />
                        </a>
                    </div>
                    <div class="flex-grow sm:hidden">&nbsp;</div>
                </div>
            </div>

            
            <div class="hidden sm:block sm:w-36 sm:-mt-1">
                <a href="https://transparent.us">
                    <img src="/static/img/logo-transparent.svg" class="block sm:w-full" />
                </a>
            </div>
    </nav>
</div>
