<section class="mt-12 mx-auto flex">
    <a name="request-access"></a>
    <!-- Begin Mailchimp Signup Form -->


    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<script>
function AutonomousMCForm() {
	return {
		readyXandbox:true,
		//submitForm: function() {
		//	//event.preventDefault();
		//	const fd = new FormData(this.$refs.xandboxForm);
		//	window.axios.get(this.$refs.xandboxForm.action, fd)
		//		.then(response => {
		//			// console.log(response.data);
		//			return this.success === true
		//		});
		//}
	}
}
</script>
<div id="mc_embed_signup" x-data="AutonomousMCForm()">
    <h4>Request Xandbox Access</h4>
<form action="https://transparent.us5.list-manage.com/subscribe/post?u=65b9c4cf8533f43a7d20bec9d&id=c17288060a"
	method="post"
	id="mc-embedded-subscribe-form"
	name="mc-embedded-subscribe-form"
	class="validate"
	target="_blank"
	x-ref="xandboxForm"
	novalidate>
	{# <input type="hidden" name="u" value="65b9c4cf8533f43a7d20bec9d" />
	<input type="hidden" name="id" value="c17288060a" /> #}
    <div id="mc_embed_signup_scroll">
		<div class="mc-field-group">
			<label for="mce-FULLNAME">Name</label>
			<input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Work Email</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div class="mc-field-group">
			<label for="mce-COMPANY">Company Name</label>
			<input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
		</div>
		<div class="mc-field-group">
			<label for="mce-WEBSITE">Company Website</label>
			<input type="url" value="" name="WEBSITE" class="required" id="mce-WEBSITE" placeholder="https://">
		</div>
		<div class="mc-field-group input-group">
			<ul class="text-xl">
				<li><input type="checkbox" value="1" name="group[30094][1]" id="mce-group[30094]-30094-0"><label for="mce-group[30094]-30094-0">&nbsp;Add me to your mailing list for the latest announcements on Xand</label></li>
			</ul>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" x-cloak></div>
			<div class="response" id="mce-success-response" x-cloak></div>
		</div>
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65b9c4cf8533f43a7d20bec9d_c17288060a" tabindex="-1" value=""></div>
		<div class="clear">
			<div class="hidden" x-cloak><input x-ref="subXandbox" type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			<p class="text-sm">By submitting this request, you agree to our <a href="/privacy-policy" target="_blank" class="underline">Privacy Policy</a> and <a href="/terms-of-service" target="_blank" class="underline">Terms of Service</a>.</p>
			<a class="button access-form-submit" @click="$refs.subXandbox.click()">Submit</a>
			{# <a class="button access-form-submit" @click.prevent="$refs.subXandbox.click()">Submit</a> #}
			{# <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button access-form-submit"> #}
		</div>
	</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[6]='FULLNAME';ftypes[6]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='WEBSITE';ftypes[5]='url';fnames[3]='COMPANY';ftypes[3]='text';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</section>