{# MOBILE HEADER #}
{% for nav in navigation.items %}
	{% if nav.url in page.url %}
		{% set mobileHeader = nav.text %}
	{% endif %}
{% endfor %}
<script>
function subnavComp() {
	return { 
		subNavShow: window.innerWidth > 768,
		breakpoint: 768,
		width: window.innerWidth,
		toggleSubnav: function() {
			this.subNavShow = !this.subNavShow;
			this.$dispatch('subnavstate');
		}
	}
}
</script>
<div x-data="subnavComp()"
	class="fixed top-[56px] mt-0 w-full sm:absolute sm:bg-whiteish px-4 {# sm:top-28 #} sm:px-0 sm:w-[155px] sm:mt-2"
	:class="{'bg-white top-0 pt-[56px] sm:pt-0 z-30': subNavShow, 'bg-whiteish top-[56px] z-30': !subNavShow }"
	x-transition:enter="origin-left transition transform duration-500 ease-in-out"
	x-transition:enter-start="-translate-x-80"
	x-transition:enter-end="bg-white sm:bg-whiteish translate-x-0"
	x-transition:leave="origin-right transition transform duration-500 ease-in-out"
	x-transition:leave-start="bg-white sm:bg-whiteish translate-x-0"
	x-transition:leave-end="-translate-x-80"
	x-cloak
	>

		{# MOBILE BUTTONS #}
		<div class="py-2 border border-x-0 border-black sm:border-0"
			:class="{'bg-none': subNavShow, 'bg-whiteish': !subNavShow }">
			{# BUTTON OPEN #}
			<button
				@click="toggleSubnav()"
				type="button"
				class="sm:hidden focus:outline-none transition duration-300 ease-in-expo font-bold text-md flex"
				:class="{ 'transform-180': subNavShow }"
				x-show="!subNavShow"
				aria-label="Menu">
				<svg class="inline-block mr-2 mt-1" width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="3" height="3" fill="#0C2026"/>
					<rect y="7" width="3" height="3" fill="#0C2026"/>
					<rect y="14" width="3" height="3" fill="#0C2026"/>
					<rect x="6" width="15" height="3" fill="#0C2026"/>
					<rect x="6" y="7" width="15" height="3" fill="#0C2026"/>
					<rect x="6" y="14" width="15" height="3" fill="#0C2026"/>
				</svg>
				{# MOBILE HEADER #}
				{% for nav in navigation.items %}
					{% if nav.url in page.url %}
						{{nav.text}}
					{% endif %}
				{% endfor %}
			</button>
			{# BUTTON CLOSE #}
			<button @click="toggleSubnav()"
					type="button"
					class="sm:hidden focus:outline-none transition duration-300 ease-in-expo"
					x-show="subNavShow"
					aria-label="Menu"
					x-cloak
					>
				<svg class="inline-block" width="21" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"
					>
					<rect x="2.13574" y="0.0146484" width="21" height="3" transform="rotate(45 2.13574 0.0146484)" fill="#0C2026"/>
					<rect x="0.0146484" y="14.8491" width="21" height="3" transform="rotate(-45 0.0146484 14.8491)" fill="#0C2026"/>
				</svg>
				{# MOBILE HEADER #}
			{% for nav in navigation.items %}
				{% if nav.url in page.url %}
					<div class="inline-block pl-2 font-bold text-md sm:hidden">{{nav.text}}</div>
				{% endif %}
			{% endfor %}
			</button>
			
		</div>
		{# /MOBILE BUTTONS #}


		<div
			class="bg-white h-screen sm:h-auto sm:bg-whiteish transition transform ease-in-out"
			:class="{'bg-white sm:bg-whiteish': subNavShow }"
			x-show="subNavShow"
			x-transition:enter="origin-left"
			x-transition:enter-start="-translate-x-80"
			x-transition:enter-end="bg-white sm:bg-whiteish translate-x-0"
			x-transition:leave="origin-right"
			x-transition:leave-start="bg-white sm:bg-whiteish translate-x-0"
			x-transition:leave-end="-translate-x-80"
			x-cloak
			>
			<div class="hidden sm:block sm:border sm:border-t-0 sm:border-black sm:w-full mb-4"></div>

			<div class="relative z-40">
			{% for nav in navigation.items %}
					<!-- <a href="{{nav.url}}" class="font-bold text-md block my-2 uppercase">{{nav.text}}</a> -->
					{% for child in nav.children %}
						{% if child.parent in page.url %}

							<a href="{{child.url}}" class="font-sans font-bold text-sm block my-2 uppercase py-1 sm:py-0">{{child.text}}</a>
							{% if child.url|trim_end('/') in page.url %}
								{% for grandchild in child.children %}
									<div x-data="{open:false}" x-init="open = {% if parentloop.url in page.url %}true{% else %}false{% endif %}" class="-mx-2 py-1 sm:py-0">										
										<a href="{{grandchild.url}}"
											class="block text-xs my-1 py-1 hover:bg-ltgray rounded px-2 {% if page.url == grandchild.url and grandchild.children|length == 0 %}font-bold text-salmon{% endif %}"
											{% if loop.first and page.url == grandchild.url %}
												:class="{'font-bold text-salmon' : !window.location.hash }"
											{% else %}
												:class="{'font-bold text-salmon' : window.location.hash == '{{grandchild.url}}' }"
											{% endif %}
											{% if grandchild.children %}
												@click.prevent="open = !open"
											{% endif %}
											>{% if loop.first %}Introduction{% else %}{{grandchild.text}}{% endif %} 
											{% if grandchild.children %}
												<span class="float-right transition duration-150 ease-in-expo" :class="{'rotate-180 mt-1': open}">&#8964;</span>
											{% endif %}
										</a>

										{% for greatgrandchild in grandchild.children %}
											<a href="{{greatgrandchild.url}}" class="block text-xs my-2 pl-4 pr-2 py-1 {% if loop.first %}pt-2{% endif %} sm:py-1 hover:bg-ltgray {% if page.url == greatgrandchild.url %}font-bold text-salmon{% endif %}" 
											{% if page.url == greatgrandchild.url %}x-init="open = true"{% endif %}
											x-show="open">{{greatgrandchild.text}}</a>
										{% endfor %}
									</div>
								{% endfor %}
							{% endif %}
							<div class="border border-t-0 w-full mt-3 mb-4"></div>
						{% endif %}
					{% endfor %}
				
			{% endfor %}
			</div>

			<!-- {% for b in collections['build']|reverse %}
				<a href="{{b.url}}" class="font-bold text-md block my-2 uppercase">{{b.data.title}}</a>
				{% for p in collections[b.data.title|slug] %}
					<a href="{{p.url}}" class="block text-sm my-2 {% if page.url == p.url %}font-bold text-salmon{% endif %}">{% if loop.first %}Introduction{% else %}{{p.data.title}}{% endif %}</a>
				{% endfor %}
				<div class="border w-full mt-3 mb-4"></div>
			{% endfor %} -->
			
			
			<a href="https://transparent.us/xand-networks/xand-alpha/" class="button button--small my-2">Join a Network</a>
			{# <div class="border border-t-0 w-full mt-3 mb-4"></div>
			<a href="/glossary" class="block my-2 text-slate-500">Glossary of Terms</a>
			<a href="/faq" class="block my-2 text-slate-500">FAQs</a> #}
			
		</div>

	</div>
